/* ===========================================
   Header
   =========================================== */
.header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  position: relative;
  text-decoration: none;
  color: var(--color-foreground);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header a sup {
  position: absolute;
  left: 100%;
  overflow: hidden;
  max-width: var(--page-margin);
}

.header svg {
  width: 2rem;
}

.header__menu,
.header__icons {
  display: flex;
  gap: 1rem;
}